{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
    <link rel="stylesheet" href="{% static 'polls/detail.css' %}" />

    <title>{{ question.question_text }} 🗳</title>
  </head>
  <body style="margin-top: calc(100vh - 35rem);">
    <form
      action="{% url 'polls:vote' question.id %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% comment %} Es una linea de código que nos sirve para que no nos hackeen
      el formulario con {% csrf_token %} {% endcomment %} {% csrf_token %}
      <fieldset style="display: flex; align-items: baseline; justify-content: left; border-radius: 5px;">
        <legend style="font-size: 2rem;">{{ question.question_text }}</legend>
        {% if error_message %}
        <p><strong style="-webkit-text-fill-color: white;">{{ error_message }}</strong></p>
        {% endif %} {% for choice in question.choice_set.all %}
        <label>
          <input
            type="radio"
            name="choice"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
          />
          {{ choice.choice_text }}
        </label>
        <br />
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote" />
    </form>
  </body>
</html>

{% comment %}
<h1>{{question.question_text}}</h1>
<ul>
  {% for choice in question.choice_set.all %}
  <li>{{choice.choice_text}}</li>
  {% endfor %}
</ul>
{% endcomment %}
